<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>A Tech Blog</title>
    <link rel="stylesheet" href="css/styles.css" />
</head>

<body class="secondary">
    <header>
        <div class="navbar navbar-expand-lg navbar-light bg-light mb-4">
            <h1 class="mx-auto">A Tech Blog</h1>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Dashboard</a>
                </li>
            </ul>
            {{#if logged_in}}
            <button class="btn btn-primary" id="logout">Logout</button>
            {{else}}
            <a class="btn btn-primary" href="/login">Login</a>
            {{/if}}
        </div>
    </header>
    <main class="container secondary">{{{ body }}}</main>

    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>