<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Tech Blog</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="/style.css" />
    </head>

    <body class="secondary">
        <header>
            <div class="navbar primary mb-4">
                <h1 class="mx-auto">Tech Blog</h1>
                <ul class="list-group list-group-horizontal">
                    <a class="list-group-item border-0 m-2 btn primary" href="/">Home</a>
                    <a class="list-group-item border-0 m-2 btn primary" href="/profile">Dashboard</a>
                    {{!-- Default is to show the login button, unless they are already logged in, then it will show the logout button --}}
                    {{#if logged_in}}
                    <button class="list-group-item border-0 m-2 btn primary" id="logout">Logout</button>
                    {{else}}
                    <a class="list-group-item border-0 m-2 btn primary" href="/login">Login</a>
                    {{/if}}
                </ul>
            </div>
        </header>
        <main class="container secondary">{{{ body }}}</main>


    {{!-- If logged in, add logic to select the logout button to logout --}}
    {{#if logged_in}}
    <script src="/logout.js"></script>
    {{/if}}
    </body>
</html>