<!-- Loop through each blog in the 'blogs' array -->
{{#each blogs}}
<div>
    <!-- Link to edit the specific blog post -->
    <a href="/editblog/{{id}}" class="post-link">
        <!-- Card Header with Blog Title -->
        <div class="post-header">
            <h4>{{title}}</h4>
        </div>
        <!-- Card Body with Blog Content -->
        <div class="post-content">
            <h5>{{content}}</h5>
        </div>
    </a>
</div>
{{/each}}

<!-- Button to Add a New Post -->
<button id="grabPost" type="button" class="btn-add">Add New Post</button>

<!-- Link to JavaScript file for handling blog post interactions -->
<script src="/js/grabBlog.js"></script>