<div class="col-md-12 col-lg-6">
            <div class="card primary">
                <h1 class="mx-auto pt-3">Login</h1>
                <form class="mx-auto login-form">
                    <label>Email</label>
                    <input type="text" id="username-login" class="form-control mb-2">
                    <label>Password</label>
                    <input type="password" id="password-login" class="form-control mb-2">
                    <input type="submit" value="Login" class="btn btn-primary mb-3">
                </form>
            </div>
        </div>

    <!-- Include the login.js script to enable functionality -->
    <script src="../public/js/login.js"></script>
</body>
</html>