<!-- Row container for login and signup forms -->
<div class="row" id="loginPage">
    <!-- Column for the sign-up form -->
    <div class="col-sm-6 my-3">
        <h2>Sign Up</h2>
        <!-- Sign-up form -->
        <form class="form signup-form" id="signup">
            <!-- Input field for name -->
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" id="name-signup" class="form-control" name="name" />
            </div>
            <!-- Input field for email -->
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="text" id="email-signup" class="form-control" name="email" />
            </div>
            <!-- Input field for password -->
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" id="password-signup" class="form-control" name="password" />
            </div>
            <!-- Input field for confirming password -->
            <div class="mb-3">
                <label for="confirmPassword" class="form-label">Confirm Password</label>
                <input type="password" id="confirmPassword-signup" class="form-control" name="confirmPassword" />
            </div>
            <!-- Submit button for the sign-up form -->
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
    </div>

    <!-- Column for the sign-in form -->
    <div class="col-sm-6 my-3">
        <h2>Sign In</h2>
        <!-- Sign-in form -->
        <form class="form login-form" id="login">
            <!-- Input field for email -->
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="text" id="email-login" class="form-control" name="email" />
            </div>
            <!-- Input field for password -->
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" id="password-login" class="form-control" name="password" />
            </div>
            <!-- Submit button for the sign-in form -->
            <button type="submit" class="btn btn-primary">Sign In</button>
        </form>
    </div>
</div>

<!-- Link to JavaScript file for handling login and signup operations -->
<script src="/js/login.js"></script>